.content-area {
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

#my-image {
  position: relative;
  width: 60vw;
  height: 60vw;
  margin: 0px auto 20px auto;
  border: 2vw solid #8d8d8d;
  border-radius: 100%;
  background-color: #FFF;
  overflow: hidden;
}

#my-image img {
  width: 100%;
  margin-top: -5vw;
  height: auto;
  display: block;
  object-fit: cover;
}

#my-image span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 10vw;
  font-weight: 900;
  color: #DDD;
  text-shadow: 2px 2px 4px #000000;
  line-height: 20vw;
  height: 20vw;
}

#make-stuff {
  background-color: #DDD;
  color: #FFF;
  padding: 20px 0px;
  position: relative;
}

#long-bio {
  margin-bottom: 20px;
}

.social-button {
  width: 80%;
  height: 10vw;
  line-height: 10vw;
  font-size: 6vw;
  border-radius: 5px;
  background-color: #666;
  color: #FFF;
  font-weight: bold;
  margin: 10px auto 0px auto;
}

@media all and (min-width: 768px) {
  #my-image {
    width: 20vw;
    height: 20vw;
    border: 0.5vw solid #8d8d8d;
  }

  #my-image img {
    margin-top: -1vw;
  }

  #my-image span {
    font-size: 4vw;
    bottom: 1vw;
    line-height: 6vw;
    height: 6vw;
  }

  .social-button {
    display: inline-block;
    width: 20%;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 2vw;
    height: 3vw;
    line-height: 3vw;
  }
}
