.portfolio-image {
  display: none;
  position: relative;
  width: 90%;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
}

.portfolio-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.portfolio-image span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  font-size: 5vw;
  font-weight: 900;
  color: #FFF;
  line-height: 10vw;
  background-color: rgba(0, 0, 0, 0.5);
}

.portfolio-image span p {
  font-size: 2vw;
  line-height: 4vw;
}

.carousel-button {
  width: 10vw;
  height: 10vw;
  position: absolute;
  top: calc(50% - 50px);
  font-size: 5vw;
  font-weight: 900;
  color: #FFF;
  line-height: 10vw;
  border-radius: 100%;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

#button-left {
  left: 10%;
}

#button-right {
  right: 10%;
}

#carousel-bullets {
  margin-top: 10px;
  color: #666;
}

@media all and (min-width: 768px) {
  .carousel-button {
    font-size: 3vw;
    line-height: 5vw;
    height: 5vw;
    width: 5vw;
  }

  .portfolio-image {
    width: 30%;
    border-radius: 10px;
  }

  .portfolio-image span {
    font-size: 2.5vw;
    line-height: 5vw;
    height: 5vw;
  }
}
